### 📚 Bloco 1 Importação de Bibliotecas

In [3]:
import pandas as pd

### 🔧 Bloco 2 Configuração e Carregamento dos Dados

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)   

df2020 = pd.read_csv('../data/raw/microdados_enem_2020/MICRODADOS_ENEM_2020.csv', sep=';', encoding='latin1')
df2021 = pd.read_csv('../data/raw/microdados_enem_2021/MICRODADOS_ENEM_2021.csv', sep=';', encoding='latin1')
df2022 = pd.read_csv('../data/raw/microdados_enem_2022/MICRODADOS_ENEM_2022.csv', sep=';', encoding='latin1')
df2023 = pd.read_csv('../data/raw/microdados_enem_2023/MICRODADOS_ENEM_2023.csv', sep=';', encoding='latin1')

###  📊 Bloco 3 Visualização Inicial

In [144]:
print(df2020.head())

   NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
0  200006271946    2020               11       F                1
1  200001195856    2020               11       M                2
2  200001943954    2020                4       F                2
3  200001908998    2020                2       M                1
4  200001634757    2020                4       F                1

   TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  TP_ESCOLA  \
0            2                 1                1               11          1
1            3                 1                1               11          1
2            3                 2                2                0          2
3            3                 1                2                0          2
4            3                 2                1                1          1

   TP_ENSINO  IN_TREINEIRO  CO_MUNICIPIO_ESC     NO_MUNICIPIO_ESC  CO_UF_ESC  \
0        NaN             0               NaN                  NaN        NaN
1        NaN             0               NaN                  NaN        NaN
2        1.0             0         2927408.0             Salvador       29.0
3        1.0             0         3547304.0  Santana de Parnaíba       35.0
4        NaN             0               NaN                  NaN        NaN

  SG_UF_ESC  TP_DEPENDENCIA_ADM_ESC  TP_LOCALIZACAO_ESC  TP_SIT_FUNC_ESC  \
0       NaN                     NaN                 NaN              NaN
1       NaN                     NaN                 NaN              NaN
2        BA                     2.0                 1.0              1.0
3        SP                     3.0                 1.0              1.0
4       NaN                     NaN                 NaN              NaN

   CO_MUNICIPIO_PROVA   NO_MUNICIPIO_PROVA  CO_UF_PROVA SG_UF_PROVA  \
0             1501402                Belém           15          PA
1             2408102                Natal           24          RN
2             2927408             Salvador           29          BA
3             3547304  Santana de Parnaíba           35          SP
4             3121605           Diamantina           31          MG

   TP_PRESENCA_CN  TP_PRESENCA_CH  TP_PRESENCA_LC  TP_PRESENCA_MT  \
0               0               0               0               0
1               1               1               1               1
2               0               0               0               0
3               1               1               1               1
4               0               0               0               0

   CO_PROVA_CN  CO_PROVA_CH  CO_PROVA_LC  CO_PROVA_MT  NU_NOTA_CN  NU_NOTA_CH  \
0          NaN          NaN          NaN          NaN         NaN         NaN
1        702.0        689.0        693.0        698.0       604.1       661.7
2          NaN          NaN          NaN          NaN         NaN         NaN
3        700.0        688.0        692.0        696.0       620.8       675.0
4          NaN          NaN          NaN          NaN         NaN         NaN

   NU_NOTA_LC  NU_NOTA_MT                                TX_RESPOSTAS_CN  \
0         NaN         NaN                                            NaN
1       595.3       711.3  BCBDBDCCCDBDDBADEEACEEAECBECCDBCACDEBEECEBAAE
2         NaN         NaN                                            NaN
3       624.2       759.4  EBEDCCCDCBDBAECAECCECEACCBAABBBCEABCAAAEBEBAE
4         NaN         NaN                                            NaN

                                 TX_RESPOSTAS_CH  \
0                                            NaN
1  BCAECABCDCEBDBBBDAABABACBCDDDBDDBABDAADACACBC
2                                            NaN
3  DABCCACCBCCDCADBDCBAAEBDDBAABDBAEBEBBABDABDBE
4                                            NaN

                                     TX_RESPOSTAS_LC  \
0                                                NaN
1  99999CADDEDADBAABEAADAAAADCADAABDCCBEECAEECAAC...
2                                                NaN
3  DCEAB99999AADAECCEBCDDDCBABDDABBCEEBAEDDDADEBE...
4                                                NaN

                                 TX_RESPOSTAS_MT  TP_LINGUA  \
0                                            NaN          1
1  EBEBDEDAECBADCADDABACAEDBEEEAEADCCBCEACDACEBB          1
2                                            NaN          0
3  CBDBDCCDDEECBAABBBADEDEDBECDEBBADAEBAABBECBBA          0
4                                            NaN          1

                                  TX_GABARITO_CN  \
0                                            NaN
1  ABBACBCCCDDDDBAEEBECEDACABDCBEDAECDABECCBBADE
2                                            NaN
3  BDECCACBEBDEAEDAECCBAEABCCEADDBBCADCBDDEBDBAC
4                                            NaN

                                  TX_GABARITO_CH  \
0                                            NaN
1  BCEECDBCCDEBDBBBBEAAAEACBCDDDBDDBABDABDDBAABC
2                                            NaN
3  DABCCAECBABECADBDCCABDBCDDAABDBAEBEBBDBDDBDBE
4                                            NaN

                                      TX_GABARITO_LC  \
0                                                NaN
1  99999CBDDEDBDBACECABAAAEAECCDCABCBBBBEEDCECAAE...
2                                                NaN
3  DCEAD99999AADACCCCBBDDCABAECAABBEECBAEDDBBEEBE...
4                                                NaN

                                  TX_GABARITO_MT  TP_STATUS_REDACAO  \
0                                            NaN                NaN
1  BBEADECAECBBXCEBADBACAEDACEDADAADCBCCBBDABBEE                1.0
2                                            NaN                NaN
3  EBDBXCCDAEECBAABABAEDDEDAECBCDCADEEBBABBACBCA                1.0
4                                            NaN                NaN

   NU_NOTA_COMP1  NU_NOTA_COMP2  NU_NOTA_COMP3  NU_NOTA_COMP4  NU_NOTA_COMP5  \
0            NaN            NaN            NaN            NaN            NaN
1          120.0          120.0          120.0          120.0          100.0
2            NaN            NaN            NaN            NaN            NaN
3          140.0          200.0          140.0          120.0          160.0
4            NaN            NaN            NaN            NaN            NaN

   NU_NOTA_REDACAO Q001 Q002 Q003 Q004  Q005 Q006 Q007 Q008 Q009 Q010 Q011  \
0              NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN
1            580.0  NaN  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN
2              NaN    B    C    A    D   3.0    B    A    B    A    A    A
3            760.0  NaN  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN
4              NaN    B    G    B    B   3.0    B    A    B    D    A    A

  Q012 Q013 Q014 Q015 Q016 Q017 Q018 Q019 Q020 Q021 Q022 Q023 Q024 Q025
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    B    A    B    A    B    A    A    B    A    A    A    A    A    A
3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4    B    A    B    A    A    A    A    B    A    B    B    A    A    B

In [79]:
df2020.describe(include='all')
df2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5783109 entries, 0 to 5783108
Data columns (total 76 columns):
 #   Column                  Dtype
---  ------                  -----
 0   NU_INSCRICAO            int64
 1   NU_ANO                  int64
 2   TP_FAIXA_ETARIA         int64
 3   TP_SEXO                 object
 4   TP_ESTADO_CIVIL         int64
 5   TP_COR_RACA             int64
 6   TP_NACIONALIDADE        int64
 7   TP_ST_CONCLUSAO         int64
 8   TP_ANO_CONCLUIU         int64
 9   TP_ESCOLA               int64
 10  TP_ENSINO               float64
 11  IN_TREINEIRO            int64
 12  CO_MUNICIPIO_ESC        float64
 13  NO_MUNICIPIO_ESC        object
 14  CO_UF_ESC               float64
 15  SG_UF_ESC               object
 16  TP_DEPENDENCIA_ADM_ESC  float64
 17  TP_LOCALIZACAO_ESC      float64
 18  TP_SIT_FUNC_ESC         float64
 19  CO_MUNICIPIO_PROVA      int64
 20  NO_MUNICIPIO_PROVA      object
 21  CO_UF_PROVA             int64
 22  SG_UF_PROVA             object
 23  TP_PRESENCA_CN          int64
 24  TP_PRESENCA_CH          int64
 25  TP_PRESENCA_LC          int64
 26  TP_PRESENCA_MT          int64
 27  CO_PROVA_CN             float64
 28  CO_PROVA_CH             float64
 29  CO_PROVA_LC             float64
 30  CO_PROVA_MT             float64
 31  NU_NOTA_CN              float64
 32  NU_NOTA_CH              float64
 33  NU_NOTA_LC              float64
 34  NU_NOTA_MT              float64
 35  TX_RESPOSTAS_CN         object
 36  TX_RESPOSTAS_CH         object
 37  TX_RESPOSTAS_LC         object
 38  TX_RESPOSTAS_MT         object
 39  TP_LINGUA               int64
 40  TX_GABARITO_CN          object
 41  TX_GABARITO_CH          object
 42  TX_GABARITO_LC          object
 43  TX_GABARITO_MT          object
 44  TP_STATUS_REDACAO       float64
 45  NU_NOTA_COMP1           float64
 46  NU_NOTA_COMP2           float64
 47  NU_NOTA_COMP3           float64
 48  NU_NOTA_COMP4           float64
 49  NU_NOTA_COMP5           float64
 50  NU_NOTA_REDACAO         float64
 51  Q001                    object
 52  Q002                    object
 53  Q003                    object
 54  Q004                    object
 55  Q005                    float64
 56  Q006                    object
 57  Q007                    object
 58  Q008                    object
 59  Q009                    object
 60  Q010                    object
 61  Q011                    object
 62  Q012                    object
 63  Q013                    object
 64  Q014                    object
 65  Q015                    object
 66  Q016                    object
 67  Q017                    object
 68  Q018                    object
 69  Q019                    object
 70  Q020                    object
 71  Q021                    object
 72  Q022                    object
 73  Q023                    object
 74  Q024                    object
 75  Q025                    object
dtypes: float64(22), int64(17), object(37)
memory usage: 3.3+ GB

In [80]:
print(df2021.head())

   NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
0  210053865474    2021                5       F                1
1  210052384164    2021               12       M                1
2  210052589243    2021               13       F                3
3  210052128335    2021                3       M                1
4  210051353021    2021                2       F                1

   TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  TP_ESCOLA  \
0            1                 1                1                3          1
1            1                 1                1               11          1
2            1                 1                1               15          1
3            3                 1                2                0          2
4            3                 1                2                0          2

   TP_ENSINO  IN_TREINEIRO  CO_MUNICIPIO_ESC NO_MUNICIPIO_ESC  CO_UF_ESC  \
0        NaN             0               NaN              NaN        NaN
1        NaN             0               NaN              NaN        NaN
2        NaN             0               NaN              NaN        NaN
3        1.0             0         2304202.0            Crato       23.0
4        1.0             0         2311603.0         Redenção       23.0

  SG_UF_ESC  TP_DEPENDENCIA_ADM_ESC  TP_LOCALIZACAO_ESC  TP_SIT_FUNC_ESC  \
0       NaN                     NaN                 NaN              NaN
1       NaN                     NaN                 NaN              NaN
2       NaN                     NaN                 NaN              NaN
3        CE                     2.0                 1.0              1.0
4        CE                     2.0                 1.0              1.0

   CO_MUNICIPIO_PROVA     NO_MUNICIPIO_PROVA  CO_UF_PROVA SG_UF_PROVA  \
0             3144805              Nova Lima           31          MG
1             2704302                 Maceió           27          AL
2             3515707  Ferraz de Vasconcelos           35          SP
3             2304202                  Crato           23          CE
4             2300150                Acarape           23          CE

   TP_PRESENCA_CN  TP_PRESENCA_CH  TP_PRESENCA_LC  TP_PRESENCA_MT  \
0               0               1               1               0
1               1               1               1               1
2               0               0               0               0
3               1               1               1               1
4               1               1               1               1

   CO_PROVA_CN  CO_PROVA_CH  CO_PROVA_LC  CO_PROVA_MT  NU_NOTA_CN  NU_NOTA_CH  \
0          NaN        881.0        892.0          NaN         NaN       574.6
1        912.0        882.0        891.0        901.0       505.9       551.8
2          NaN          NaN          NaN          NaN         NaN         NaN
3        911.0        880.0        890.0        902.0       580.7       678.9
4        912.0        882.0        891.0        901.0       497.7       532.4

   NU_NOTA_LC  NU_NOTA_MT                                TX_RESPOSTAS_CN  \
0       472.6         NaN                                            NaN
1       498.3       461.5  DCBCCBDBCCCCCCDDCDCCCACCABCCECCCCAADCCCBBCADE
2         NaN         NaN                                            NaN
3       638.9       659.5  CCABBDAEDBEBEDDCAAABBDAADBDCACACEDAABCEABAEBC
4       457.6       582.6  BABCDCCBEBCD.DEDCABCBDEDAABEDADBDBCDECCAEDBCB

                                 TX_RESPOSTAS_CH  \
0  BBCCECEABCEABADDAAEECBEBADADAAABABBABBACCCBBB
1  ECCDAAEBCDACBDBDECABBEAACBCBCCCDACEABEBEBACAE
2                                            NaN
3  CBBDABAABBAAEECEBAADADBEBCAEEBEDDEBBBADBCBEDC
4  CAE.ACDCAAEBBEDEBCADADEDADAACEBDABBCEABBCDEAC

                                     TX_RESPOSTAS_LC  \
0  99999BADDEAEBACADADDAEABCEECDDBBAEADEDEABADBBA...
1  99999ACECCEEBACDABACBECBBCDBDEBDDCCCDECCDDCCCC...
2                                                NaN
3  ABBCA99999CDECCCBADCDBCEAEBBAAEADEEADDACAEDDAB...
4  99999EAACBDCBECCABADBEDADCDADDCDDECABAADEBBDAC...

                                 TX_RESPOSTAS_MT  TP_LINGUA  \
0                                            NaN          1
1  CDCCBCCCDCCCCBEACEECAEABECCCDCBBCABACDAEDCCEC          1
2                                            NaN          1
3  EACDCEACDDDDCBDDCABADAEBACDCDDEDBBCDBECACCCCA          0
4  ACEDEBECABDABDEECBDEEADDDDBEBCEADCCADCADEDCEB          1

                                  TX_GABARITO_CN  \
0                                            NaN
1  DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB
2                                            NaN
3  CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB
4  DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB

                                  TX_GABARITO_CH  \
0  BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA
1  EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB
2                                            NaN
3  BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC
4  EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB

                                      TX_GABARITO_LC  \
0  ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...
1  ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...
2                                                NaN
3  ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...
4  ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...

                                  TX_GABARITO_MT  TP_STATUS_REDACAO  \
0                                            NaN                1.0
1  DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE                1.0
2                                            NaN                NaN
3  ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA                1.0
4  DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE                1.0

   NU_NOTA_COMP1  NU_NOTA_COMP2  NU_NOTA_COMP3  NU_NOTA_COMP4  NU_NOTA_COMP5  \
0          140.0          120.0          120.0          180.0          200.0
1          120.0          120.0          120.0          120.0           80.0
2            NaN            NaN            NaN            NaN            NaN
3          120.0          180.0          120.0          200.0          160.0
4          120.0          140.0          160.0          180.0          180.0

   NU_NOTA_REDACAO Q001 Q002 Q003 Q004  Q005 Q006 Q007 Q008 Q009 Q010 Q011  \
0            760.0    F    F    B    B   3.0    D    A    B    C    B    A
1            560.0    B    B    B    B   3.0    B    A    B    C    A    A
2              NaN    B    C    C    B   3.0    C    A    B    B    A    A
3            780.0    B    B    B    B   6.0    B    A    B    C    A    A
4            780.0    D    E    F    D   4.0    C    A    B    C    A    A

  Q012 Q013 Q014 Q015 Q016 Q017 Q018 Q019 Q020 Q021 Q022 Q023 Q024 Q025
0    B    A    B    A    A    A    A    B    A    A    B    A    B    B
1    B    A    A    A    A    A    A    B    A    A    C    A    A    A
2    B    B    A    A    B    A    A    B    A    A    C    B    B    B
3    B    A    A    A    A    A    A    B    A    A    B    A    B    B
4    B    A    B    A    B    A    A    B    A    B    E    A    B    B

In [81]:
df2021.describe(include='all')
df2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3389832 entries, 0 to 3389831
Data columns (total 76 columns):
 #   Column                  Dtype
---  ------                  -----
 0   NU_INSCRICAO            int64
 1   NU_ANO                  int64
 2   TP_FAIXA_ETARIA         int64
 3   TP_SEXO                 object
 4   TP_ESTADO_CIVIL         int64
 5   TP_COR_RACA             int64
 6   TP_NACIONALIDADE        int64
 7   TP_ST_CONCLUSAO         int64
 8   TP_ANO_CONCLUIU         int64
 9   TP_ESCOLA               int64
 10  TP_ENSINO               float64
 11  IN_TREINEIRO            int64
 12  CO_MUNICIPIO_ESC        float64
 13  NO_MUNICIPIO_ESC        object
 14  CO_UF_ESC               float64
 15  SG_UF_ESC               object
 16  TP_DEPENDENCIA_ADM_ESC  float64
 17  TP_LOCALIZACAO_ESC      float64
 18  TP_SIT_FUNC_ESC         float64
 19  CO_MUNICIPIO_PROVA      int64
 20  NO_MUNICIPIO_PROVA      object
 21  CO_UF_PROVA             int64
 22  SG_UF_PROVA             object
 23  TP_PRESENCA_CN          int64
 24  TP_PRESENCA_CH          int64
 25  TP_PRESENCA_LC          int64
 26  TP_PRESENCA_MT          int64
 27  CO_PROVA_CN             float64
 28  CO_PROVA_CH             float64
 29  CO_PROVA_LC             float64
 30  CO_PROVA_MT             float64
 31  NU_NOTA_CN              float64
 32  NU_NOTA_CH              float64
 33  NU_NOTA_LC              float64
 34  NU_NOTA_MT              float64
 35  TX_RESPOSTAS_CN         object
 36  TX_RESPOSTAS_CH         object
 37  TX_RESPOSTAS_LC         object
 38  TX_RESPOSTAS_MT         object
 39  TP_LINGUA               int64
 40  TX_GABARITO_CN          object
 41  TX_GABARITO_CH          object
 42  TX_GABARITO_LC          object
 43  TX_GABARITO_MT          object
 44  TP_STATUS_REDACAO       float64
 45  NU_NOTA_COMP1           float64
 46  NU_NOTA_COMP2           float64
 47  NU_NOTA_COMP3           float64
 48  NU_NOTA_COMP4           float64
 49  NU_NOTA_COMP5           float64
 50  NU_NOTA_REDACAO         float64
 51  Q001                    object
 52  Q002                    object
 53  Q003                    object
 54  Q004                    object
 55  Q005                    float64
 56  Q006                    object
 57  Q007                    object
 58  Q008                    object
 59  Q009                    object
 60  Q010                    object
 61  Q011                    object
 62  Q012                    object
 63  Q013                    object
 64  Q014                    object
 65  Q015                    object
 66  Q016                    object
 67  Q017                    object
 68  Q018                    object
 69  Q019                    object
 70  Q020                    object
 71  Q021                    object
 72  Q022                    object
 73  Q023                    object
 74  Q024                    object
 75  Q025                    object
dtypes: float64(22), int64(17), object(37)
memory usage: 1.9+ GB

In [ ]:
print(df2023.head())

   NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
0  210059085136    2023               14       M                2
1  210059527735    2023               12       M                2
2  210061103945    2023                6       F                1
3  210060214087    2023                2       F                1
4  210059980948    2023                3       F                1

   TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  TP_ESCOLA  \
0            1                 1                1               17          1
1            1                 0                1               16          1
2            1                 1                1                0          1
3            3                 1                2                0          2
4            3                 1                2                0          2

   TP_ENSINO  IN_TREINEIRO  CO_MUNICIPIO_ESC NO_MUNICIPIO_ESC  CO_UF_ESC  \
0        NaN             0               NaN              NaN        NaN
1        NaN             0               NaN              NaN        NaN
2        NaN             0               NaN              NaN        NaN
3        1.0             0         2304400.0        Fortaleza       23.0
4        1.0             0         2311306.0          Quixadá       23.0

  SG_UF_ESC  TP_DEPENDENCIA_ADM_ESC  TP_LOCALIZACAO_ESC  TP_SIT_FUNC_ESC  \
0       NaN                     NaN                 NaN              NaN
1       NaN                     NaN                 NaN              NaN
2       NaN                     NaN                 NaN              NaN
3        CE                     2.0                 1.0              1.0
4        CE                     2.0                 1.0              1.0

   CO_MUNICIPIO_PROVA NO_MUNICIPIO_PROVA  CO_UF_PROVA SG_UF_PROVA  \
0             5300108           Brasília           53          DF
1             5300108           Brasília           53          DF
2             4305108      Caxias do Sul           43          RS
3             2304400          Fortaleza           23          CE
4             2311306            Quixadá           23          CE

   TP_PRESENCA_CN  TP_PRESENCA_CH  TP_PRESENCA_LC  TP_PRESENCA_MT  \
0               0               0               0               0
1               0               0               0               0
2               1               1               1               1
3               1               1               1               1
4               1               1               1               1

   CO_PROVA_CN  CO_PROVA_CH  CO_PROVA_LC  CO_PROVA_MT  NU_NOTA_CN  NU_NOTA_CH  \
0          NaN          NaN          NaN          NaN         NaN         NaN
1          NaN          NaN          NaN          NaN         NaN         NaN
2       1221.0       1193.0       1204.0       1211.0       502.0       498.9
3       1224.0       1192.0       1202.0       1214.0       459.0       508.5
4       1222.0       1191.0       1201.0       1212.0       402.5       379.2

   NU_NOTA_LC  NU_NOTA_MT                                TX_RESPOSTAS_CN  \
0         NaN         NaN                                            NaN
1         NaN         NaN                                            NaN
2       475.6       363.2  DBEBDCECCBCEBBBBDBABDDBBAABCBACDBACECCBAADEBB
3       507.2       466.7  DEEBEACCCEBDDBDCCCAEEDCBAAADBCBEEEDCDAAECBEEC
4       446.9       338.3  AECCEAACDEABEEECDBAEEAAADDEABCBCEBACEEDCBEABD

                                 TX_RESPOSTAS_CH  \
0                                            NaN
1                                            NaN
2  ABDEADAADCDABDCADAEABCDDCBAADCCBEBCEBEBDBEAED
3  DDAAEEBCCDEADBCDDCBAECABEBDEBDABECECEDCDDAEED
4  CADEBCEDDEBCBAEBADDCECACADBDEBABDBDBEEDBBEADC

                                 TX_RESPOSTAS_LC  \
0                                            NaN
1                                            NaN
2  ACEBDCABAACAEBAECEBBBAAECBBDEADCAECCCEDDABEED
3  ADBDADAEEEACAABBACADCAEBBAAEBBCDEBBDDADDCADAA
4  AABBACBCAEDABDADEDAACCAEEEECAACDCADBAEACDEAAE

                                 TX_RESPOSTAS_MT  TP_LINGUA  \
0                                            NaN          0
1                                            NaN          0
2  CEAEACCCDABCDAACEDDBAAEBABDDEEBDAECABDBCBCADE          1
3  EECBAEDEEDDDBBAADEECDBBBECEAACEAEECDBEDDBCDCB          0
4  CDBABEDCEEBBBDECDEBACCAABDEDCBECDECABBDBDEECC          0

                                  TX_GABARITO_CN  \
0                                            NaN
1                                            NaN
2  DBEABDABDCACDBECDDDBCAAABBACCCADEBECCCEDAEEED
3  CDDDABBABDBEABDECCEEEDCEDAEBABDCCAACCCADACDBE
4  CAAADCCCCDDDABDCACDBEEEDCEDAEECCDBEABDBABBAEB

                                  TX_GABARITO_CH  \
0                                            NaN
1                                            NaN
2  ACEEABAADCDAADEABCDABCDCABCBDADEBAECABADBCDAE
3  DBAADEADCDCABABCDDEBAEABAECABAACECDAECBDAABCD
4  CDAEECABAACEAADECBDAABCDCABADCDEABAABCDDEBADB

                                      TX_GABARITO_LC  \
0                                                NaN
1                                                NaN
2  DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...
3  BBBDAABAEACCEEEDEACBCACAACAACAAAECBBEDBCCADBDE...
4  BBDABAAEBADACEEDCCDBADBDEDCCEBCACEACAACAACACBB...

                                  TX_GABARITO_MT  TP_STATUS_REDACAO  \
0                                            NaN                NaN
1                                            NaN                NaN
2  BCCDEEABCBEDCEABBEBDABDDADDADECAADDCCBEBEABCC                1.0
3  EBDADDAEBEACBEDCECCBEABCADEBCCBCCDEBDDAABBADD                1.0
4  DCECACCBDECBEEABEABDDAADDABBBCCBCCDDAEBDADEEB                1.0

   NU_NOTA_COMP1  NU_NOTA_COMP2  NU_NOTA_COMP3  NU_NOTA_COMP4  NU_NOTA_COMP5  \
0            NaN            NaN            NaN            NaN            NaN
1            NaN            NaN            NaN            NaN            NaN
2          140.0          200.0          100.0          120.0          140.0
3          140.0          200.0          160.0          180.0          200.0
4          120.0          120.0          120.0          120.0           80.0

   NU_NOTA_REDACAO Q001 Q002 Q003 Q004  Q005 Q006 Q007 Q008 Q009 Q010 Q011  \
0              NaN    A    F    E    D     5    F    C    C    D    C    D
1              NaN    F    E    E    B     3    H    A    B    C    C    A
2            700.0    H    E    C    F     5    C    A    B    D    B    A
3            880.0    D    D    B    B     5    C    A    B    B    A    A
4            560.0    B    B    A    A     4    B    A    B    A    A    A

  Q012 Q013 Q014 Q015 Q016 Q017 Q018 Q019 Q020 Q021 Q022 Q023 Q024 Q025
0    C    B    B    D    C    C    B    B    A    B    B    A    A    B
1    B    B    B    A    B    A    B    B    A    A    C    A    D    B
2    B    A    B    A    B    A    A    B    A    A    A    A    A    B
3    B    A    A    A    A    A    A    B    A    A    D    A    A    B
4    B    A    A    A    A    A    A    B    A    A    B    A    A    A

In [75]:
df2022.describe(include='all')
df2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3476105 entries, 0 to 3476104
Data columns (total 76 columns):
 #   Column                  Dtype
---  ------                  -----
 0   NU_INSCRICAO            int64
 1   NU_ANO                  int64
 2   TP_FAIXA_ETARIA         int64
 3   TP_SEXO                 object
 4   TP_ESTADO_CIVIL         int64
 5   TP_COR_RACA             int64
 6   TP_NACIONALIDADE        int64
 7   TP_ST_CONCLUSAO         int64
 8   TP_ANO_CONCLUIU         int64
 9   TP_ESCOLA               int64
 10  TP_ENSINO               float64
 11  IN_TREINEIRO            int64
 12  CO_MUNICIPIO_ESC        float64
 13  NO_MUNICIPIO_ESC        object
 14  CO_UF_ESC               float64
 15  SG_UF_ESC               object
 16  TP_DEPENDENCIA_ADM_ESC  float64
 17  TP_LOCALIZACAO_ESC      float64
 18  TP_SIT_FUNC_ESC         float64
 19  CO_MUNICIPIO_PROVA      int64
 20  NO_MUNICIPIO_PROVA      object
 21  CO_UF_PROVA             int64
 22  SG_UF_PROVA             object
 23  TP_PRESENCA_CN          int64
 24  TP_PRESENCA_CH          int64
 25  TP_PRESENCA_LC          int64
 26  TP_PRESENCA_MT          int64
 27  CO_PROVA_CN             float64
 28  CO_PROVA_CH             float64
 29  CO_PROVA_LC             float64
 30  CO_PROVA_MT             float64
 31  NU_NOTA_CN              float64
 32  NU_NOTA_CH              float64
 33  NU_NOTA_LC              float64
 34  NU_NOTA_MT              float64
 35  TX_RESPOSTAS_CN         object
 36  TX_RESPOSTAS_CH         object
 37  TX_RESPOSTAS_LC         object
 38  TX_RESPOSTAS_MT         object
 39  TP_LINGUA               int64
 40  TX_GABARITO_CN          object
 41  TX_GABARITO_CH          object
 42  TX_GABARITO_LC          object
 43  TX_GABARITO_MT          object
 44  TP_STATUS_REDACAO       float64
 45  NU_NOTA_COMP1           float64
 46  NU_NOTA_COMP2           float64
 47  NU_NOTA_COMP3           float64
 48  NU_NOTA_COMP4           float64
 49  NU_NOTA_COMP5           float64
 50  NU_NOTA_REDACAO         float64
 51  Q001                    object
 52  Q002                    object
 53  Q003                    object
 54  Q004                    object
 55  Q005                    int64
 56  Q006                    object
 57  Q007                    object
 58  Q008                    object
 59  Q009                    object
 60  Q010                    object
 61  Q011                    object
 62  Q012                    object
 63  Q013                    object
 64  Q014                    object
 65  Q015                    object
 66  Q016                    object
 67  Q017                    object
 68  Q018                    object
 69  Q019                    object
 70  Q020                    object
 71  Q021                    object
 72  Q022                    object
 73  Q023                    object
 74  Q024                    object
 75  Q025                    object
dtypes: float64(21), int64(18), object(37)
memory usage: 2.0+ GB

In [ ]:
print(df2023.head())

   NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
0  210059085136    2023               14       M                2
1  210059527735    2023               12       M                2
2  210061103945    2023                6       F                1
3  210060214087    2023                2       F                1
4  210059980948    2023                3       F                1

   TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  TP_ESCOLA  \
0            1                 1                1               17          1
1            1                 0                1               16          1
2            1                 1                1                0          1
3            3                 1                2                0          2
4            3                 1                2                0          2

   TP_ENSINO  IN_TREINEIRO  CO_MUNICIPIO_ESC NO_MUNICIPIO_ESC  CO_UF_ESC  \
0        NaN             0               NaN              NaN        NaN
1        NaN             0               NaN              NaN        NaN
2        NaN             0               NaN              NaN        NaN
3        1.0             0         2304400.0        Fortaleza       23.0
4        1.0             0         2311306.0          Quixadá       23.0

  SG_UF_ESC  TP_DEPENDENCIA_ADM_ESC  TP_LOCALIZACAO_ESC  TP_SIT_FUNC_ESC  \
0       NaN                     NaN                 NaN              NaN
1       NaN                     NaN                 NaN              NaN
2       NaN                     NaN                 NaN              NaN
3        CE                     2.0                 1.0              1.0
4        CE                     2.0                 1.0              1.0

   CO_MUNICIPIO_PROVA NO_MUNICIPIO_PROVA  CO_UF_PROVA SG_UF_PROVA  \
0             5300108           Brasília           53          DF
1             5300108           Brasília           53          DF
2             4305108      Caxias do Sul           43          RS
3             2304400          Fortaleza           23          CE
4             2311306            Quixadá           23          CE

   TP_PRESENCA_CN  TP_PRESENCA_CH  TP_PRESENCA_LC  TP_PRESENCA_MT  \
0               0               0               0               0
1               0               0               0               0
2               1               1               1               1
3               1               1               1               1
4               1               1               1               1

   CO_PROVA_CN  CO_PROVA_CH  CO_PROVA_LC  CO_PROVA_MT  NU_NOTA_CN  NU_NOTA_CH  \
0          NaN          NaN          NaN          NaN         NaN         NaN
1          NaN          NaN          NaN          NaN         NaN         NaN
2       1221.0       1193.0       1204.0       1211.0       502.0       498.9
3       1224.0       1192.0       1202.0       1214.0       459.0       508.5
4       1222.0       1191.0       1201.0       1212.0       402.5       379.2

   NU_NOTA_LC  NU_NOTA_MT                                TX_RESPOSTAS_CN  \
0         NaN         NaN                                            NaN
1         NaN         NaN                                            NaN
2       475.6       363.2  DBEBDCECCBCEBBBBDBABDDBBAABCBACDBACECCBAADEBB
3       507.2       466.7  DEEBEACCCEBDDBDCCCAEEDCBAAADBCBEEEDCDAAECBEEC
4       446.9       338.3  AECCEAACDEABEEECDBAEEAAADDEABCBCEBACEEDCBEABD

                                 TX_RESPOSTAS_CH  \
0                                            NaN
1                                            NaN
2  ABDEADAADCDABDCADAEABCDDCBAADCCBEBCEBEBDBEAED
3  DDAAEEBCCDEADBCDDCBAECABEBDEBDABECECEDCDDAEED
4  CADEBCEDDEBCBAEBADDCECACADBDEBABDBDBEEDBBEADC

                                 TX_RESPOSTAS_LC  \
0                                            NaN
1                                            NaN
2  ACEBDCABAACAEBAECEBBBAAECBBDEADCAECCCEDDABEED
3  ADBDADAEEEACAABBACADCAEBBAAEBBCDEBBDDADDCADAA
4  AABBACBCAEDABDADEDAACCAEEEECAACDCADBAEACDEAAE

                                 TX_RESPOSTAS_MT  TP_LINGUA  \
0                                            NaN          0
1                                            NaN          0
2  CEAEACCCDABCDAACEDDBAAEBABDDEEBDAECABDBCBCADE          1
3  EECBAEDEEDDDBBAADEECDBBBECEAACEAEECDBEDDBCDCB          0
4  CDBABEDCEEBBBDECDEBACCAABDEDCBECDECABBDBDEECC          0

                                  TX_GABARITO_CN  \
0                                            NaN
1                                            NaN
2  DBEABDABDCACDBECDDDBCAAABBACCCADEBECCCEDAEEED
3  CDDDABBABDBEABDECCEEEDCEDAEBABDCCAACCCADACDBE
4  CAAADCCCCDDDABDCACDBEEEDCEDAEECCDBEABDBABBAEB

                                  TX_GABARITO_CH  \
0                                            NaN
1                                            NaN
2  ACEEABAADCDAADEABCDABCDCABCBDADEBAECABADBCDAE
3  DBAADEADCDCABABCDDEBAEABAECABAACECDAECBDAABCD
4  CDAEECABAACEAADECBDAABCDCABADCDEABAABCDDEBADB

                                      TX_GABARITO_LC  \
0                                                NaN
1                                                NaN
2  DBABBAEBAAAACDACDEDAACADBADBCCEACCCEAAECBBEBCA...
3  BBBDAABAEACCEEEDEACBCACAACAACAAAECBBEDBCCADBDE...
4  BBDABAAEBADACEEDCCDBADBDEDCCEBCACEACAACAACACBB...

                                  TX_GABARITO_MT  TP_STATUS_REDACAO  \
0                                            NaN                NaN
1                                            NaN                NaN
2  BCCDEEABCBEDCEABBEBDABDDADDADECAADDCCBEBEABCC                1.0
3  EBDADDAEBEACBEDCECCBEABCADEBCCBCCDEBDDAABBADD                1.0
4  DCECACCBDECBEEABEABDDAADDABBBCCBCCDDAEBDADEEB                1.0

   NU_NOTA_COMP1  NU_NOTA_COMP2  NU_NOTA_COMP3  NU_NOTA_COMP4  NU_NOTA_COMP5  \
0            NaN            NaN            NaN            NaN            NaN
1            NaN            NaN            NaN            NaN            NaN
2          140.0          200.0          100.0          120.0          140.0
3          140.0          200.0          160.0          180.0          200.0
4          120.0          120.0          120.0          120.0           80.0

   NU_NOTA_REDACAO Q001 Q002 Q003 Q004  Q005 Q006 Q007 Q008 Q009 Q010 Q011  \
0              NaN    A    F    E    D     5    F    C    C    D    C    D
1              NaN    F    E    E    B     3    H    A    B    C    C    A
2            700.0    H    E    C    F     5    C    A    B    D    B    A
3            880.0    D    D    B    B     5    C    A    B    B    A    A
4            560.0    B    B    A    A     4    B    A    B    A    A    A

  Q012 Q013 Q014 Q015 Q016 Q017 Q018 Q019 Q020 Q021 Q022 Q023 Q024 Q025
0    C    B    B    D    C    C    B    B    A    B    B    A    A    B
1    B    B    B    A    B    A    B    B    A    A    C    A    D    B
2    B    A    B    A    B    A    A    B    A    A    A    A    A    B
3    B    A    A    A    A    A    A    B    A    A    D    A    A    B
4    B    A    A    A    A    A    A    B    A    A    B    A    A    A

In [77]:
df2023.describe(include='all')
df2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3933955 entries, 0 to 3933954
Data columns (total 76 columns):
 #   Column                  Dtype
---  ------                  -----
 0   NU_INSCRICAO            int64
 1   NU_ANO                  int64
 2   TP_FAIXA_ETARIA         int64
 3   TP_SEXO                 object
 4   TP_ESTADO_CIVIL         int64
 5   TP_COR_RACA             int64
 6   TP_NACIONALIDADE        int64
 7   TP_ST_CONCLUSAO         int64
 8   TP_ANO_CONCLUIU         int64
 9   TP_ESCOLA               int64
 10  TP_ENSINO               float64
 11  IN_TREINEIRO            int64
 12  CO_MUNICIPIO_ESC        float64
 13  NO_MUNICIPIO_ESC        object
 14  CO_UF_ESC               float64
 15  SG_UF_ESC               object
 16  TP_DEPENDENCIA_ADM_ESC  float64
 17  TP_LOCALIZACAO_ESC      float64
 18  TP_SIT_FUNC_ESC         float64
 19  CO_MUNICIPIO_PROVA      int64
 20  NO_MUNICIPIO_PROVA      object
 21  CO_UF_PROVA             int64
 22  SG_UF_PROVA             object
 23  TP_PRESENCA_CN          int64
 24  TP_PRESENCA_CH          int64
 25  TP_PRESENCA_LC          int64
 26  TP_PRESENCA_MT          int64
 27  CO_PROVA_CN             float64
 28  CO_PROVA_CH             float64
 29  CO_PROVA_LC             float64
 30  CO_PROVA_MT             float64
 31  NU_NOTA_CN              float64
 32  NU_NOTA_CH              float64
 33  NU_NOTA_LC              float64
 34  NU_NOTA_MT              float64
 35  TX_RESPOSTAS_CN         object
 36  TX_RESPOSTAS_CH         object
 37  TX_RESPOSTAS_LC         object
 38  TX_RESPOSTAS_MT         object
 39  TP_LINGUA               int64
 40  TX_GABARITO_CN          object
 41  TX_GABARITO_CH          object
 42  TX_GABARITO_LC          object
 43  TX_GABARITO_MT          object
 44  TP_STATUS_REDACAO       float64
 45  NU_NOTA_COMP1           float64
 46  NU_NOTA_COMP2           float64
 47  NU_NOTA_COMP3           float64
 48  NU_NOTA_COMP4           float64
 49  NU_NOTA_COMP5           float64
 50  NU_NOTA_REDACAO         float64
 51  Q001                    object
 52  Q002                    object
 53  Q003                    object
 54  Q004                    object
 55  Q005                    int64
 56  Q006                    object
 57  Q007                    object
 58  Q008                    object
 59  Q009                    object
 60  Q010                    object
 61  Q011                    object
 62  Q012                    object
 63  Q013                    object
 64  Q014                    object
 65  Q015                    object
 66  Q016                    object
 67  Q017                    object
 68  Q018                    object
 69  Q019                    object
 70  Q020                    object
 71  Q021                    object
 72  Q022                    object
 73  Q023                    object
 74  Q024                    object
 75  Q025                    object
dtypes: float64(21), int64(18), object(37)
memory usage: 2.2+ GB

### 📏 Bloco 4 Verificação de Dimensões

In [165]:
dfArray = [ df2020, df2021, df2022, df2023]
for df in dfArray:
    print(df.shape)

(5783109, 76)
(3389832, 76)
(3476105, 76)
(3933955, 76)

### 🔄 Bloco 5 Comparação de Estruturas

In [ ]:
colunas_df2022 = set(df2022.columns)
colunas_df2023 = set(df2023.columns)

colunas_df1_nao_df2 = list(colunas_df2022 - colunas_df2023)
colunas_df2_nao_df1 = list(colunas_df2023 - colunas_df2022)

tipos_diferentes = {}
colunas_em_comum = list(colunas_df2022.intersection(colunas_df2023))
for coluna in colunas_em_comum:
    tipo_df2022 = df2022[coluna].dtype
    tipo_df2023 = df2023[coluna].dtype
    if tipo_df2022 != tipo_df2023:
        tipos_diferentes[coluna] = (tipo_df2022, tipo_df2023)


print("Colunas em df2022 mas não em df2023:", colunas_df1_nao_df2)
print("Colunas em df2023 mas não em df2022:", colunas_df2_nao_df1)
print("Colunas com tipos diferentes:")
for coluna, (tipo_df2022, tipo_df2023) in tipos_diferentes.items():
    print(f"  {coluna}: df2022 - {tipo_df2022}, df2023 - {tipo_df2023}")

Colunas em df2022 mas não em df2023: []
Colunas em df2023 mas não em df2022: []
Colunas com tipos diferentes:
  Q005: df2022 - float64, df2023 - int64

Verifica compatibilidade entre anos:

Colunas idênticas: Nenhuma diferença encontrada
Tipos diferentes: Q005 (float64 em 2022, int64 em 2023)
Importante para garantir concatenação bem-sucedida

### 📝 Bloco 6 Primeira Análise de Valores Nulos

In [ ]:
dfArray = [df2020, df2021, df2022, df2023]
ano = 2020
for df in dfArray:
    nulls = df.isnull().sum().reset_index()
    print(nulls)
    nulls.columns = ['coluna', 'n_nulos']
    nulls.to_csv(f"../data/processed/microdados_enem_{str(ano)}/resumo_nulos{str(ano)}.csv", sep=";", index=False)
    ano += 1

              index  0
0      NU_INSCRICAO  0
1            NU_ANO  0
2   TP_FAIXA_ETARIA  0
3           TP_SEXO  0
4   TP_ESTADO_CIVIL  0
..              ... ..
71             Q021  0
72             Q022  0
73             Q023  0
74             Q024  0
75             Q025  0

[76 rows x 2 columns]
              index  0
0      NU_INSCRICAO  0
1            NU_ANO  0
2   TP_FAIXA_ETARIA  0
3           TP_SEXO  0
4   TP_ESTADO_CIVIL  0
..              ... ..
71             Q021  0
72             Q022  0
73             Q023  0
74             Q024  0
75             Q025  0

[76 rows x 2 columns]
              index  0
0      NU_INSCRICAO  0
1            NU_ANO  0
2   TP_FAIXA_ETARIA  0
3           TP_SEXO  0
4   TP_ESTADO_CIVIL  0
..              ... ..
71             Q021  0
72             Q022  0
73             Q023  0
74             Q024  0
75             Q025  0

[76 rows x 2 columns]
              index  0
0      NU_INSCRICAO  0
1            NU_ANO  0
2   TP_FAIXA_ETARIA  0
3           TP_SEXO  0
4   TP_ESTADO_CIVIL  0
..              ... ..
71             Q021  0
72             Q022  0
73             Q023  0
74             Q024  0
75             Q025  0

[76 rows x 2 columns]

### 🧹 Bloco 7 Limpeza e Filtragem dos Dados

In [5]:
df2020 = df2020[df2020['TP_ESCOLA'] != 1]
df2020 = df2020[df2020['SG_UF_ESC'] == 'PE']
df2020 = df2020.dropna(subset=['CO_MUNICIPIO_ESC'])
df2020 = df2020.dropna(subset=['CO_PROVA_CN'])
df2020 = df2020.dropna(subset=['CO_PROVA_CH'])
df2020 = df2020.dropna(subset=['CO_PROVA_LC'])
df2020 = df2020.dropna(subset=['CO_PROVA_MT'])
df2020 = df2020.dropna(subset=['NU_NOTA_CN'])
df2020 = df2020.dropna(subset=['Q001'])

df2021 = df2021[df2021['TP_ESCOLA'] != 1]
df2021 = df2021[df2021['SG_UF_ESC'] == 'PE']
df2021 = df2021.dropna(subset=['CO_MUNICIPIO_ESC'])
df2021 = df2021.dropna(subset=['CO_PROVA_CN'])
df2021 = df2021.dropna(subset=['CO_PROVA_CH'])
df2021 = df2021.dropna(subset=['CO_PROVA_LC'])
df2021 = df2021.dropna(subset=['CO_PROVA_MT'])
df2021 = df2021.dropna(subset=['NU_NOTA_CN'])

df2022 = df2022[df2022['TP_ESCOLA'] != 1]
df2022 = df2022[df2022['SG_UF_ESC'] == 'PE']
df2022 = df2022.dropna(subset=['CO_MUNICIPIO_ESC'])
df2022 = df2022.dropna(subset=['CO_PROVA_CN'])
df2022 = df2022.dropna(subset=['CO_PROVA_CH'])
df2022 = df2022.dropna(subset=['CO_PROVA_LC'])
df2022 = df2022.dropna(subset=['CO_PROVA_MT'])
df2022 = df2022.dropna(subset=['NU_NOTA_CN'])

df2023 = df2023[df2023['TP_ESCOLA'] != 1]
df2023 = df2023[df2023['SG_UF_ESC'] == 'PE']
df2023 = df2023.dropna(subset=['CO_MUNICIPIO_ESC'])
df2023 = df2023.dropna(subset=['CO_PROVA_CN'])
df2023 = df2023.dropna(subset=['CO_PROVA_CH'])
df2023 = df2023.dropna(subset=['CO_PROVA_LC'])
df2023 = df2023.dropna(subset=['CO_PROVA_MT'])
df2023 = df2023.dropna(subset=['NU_NOTA_CN'])

dfArray = [df2020, df2021, df2022, df2023]
for df in dfArray:
    print(df.shape)

(27451, 76)
(29963, 76)
(32060, 76)
(34652, 76)

Aplica filtros:

- Remove registros que tem o tipo de escola como "Não respondeu" (TP_ESCOLA != 1)
- Remove registros em que a escola do participante não é de Pernambuco
- Remove registros sem município da escola
- Remove registros sem códigos de prova
- Remove registros sem notas
- 2020 apenas: Remove registros sem questionário socioeconômico respondido

### 📝 Bloco 8 Segunda Análise de Valores Nulos

In [6]:
dfArray = [df2020, df2021, df2022, df2023]
ano = 2020
for df in dfArray:
    nulls = df.isnull().sum().reset_index()
    print(nulls)
    nulls.columns = ['coluna', 'n_nulos']
    nulls.to_csv(f"../data/processed/microdados_enem_{str(ano)}/resumo_nulos{str(ano)}.csv", sep=";", index=False)
    ano += 1

              index  0
0      NU_INSCRICAO  0
1            NU_ANO  0
2   TP_FAIXA_ETARIA  0
3           TP_SEXO  0
4   TP_ESTADO_CIVIL  0
..              ... ..
71             Q021  0
72             Q022  0
73             Q023  0
74             Q024  0
75             Q025  0

[76 rows x 2 columns]
              index  0
0      NU_INSCRICAO  0
1            NU_ANO  0
2   TP_FAIXA_ETARIA  0
3           TP_SEXO  0
4   TP_ESTADO_CIVIL  0
..              ... ..
71             Q021  0
72             Q022  0
73             Q023  0
74             Q024  0
75             Q025  0

[76 rows x 2 columns]
              index  0
0      NU_INSCRICAO  0
1            NU_ANO  0
2   TP_FAIXA_ETARIA  0
3           TP_SEXO  0
4   TP_ESTADO_CIVIL  0
..              ... ..
71             Q021  0
72             Q022  0
73             Q023  0
74             Q024  0
75             Q025  0

[76 rows x 2 columns]
              index  0
0      NU_INSCRICAO  0
1            NU_ANO  0
2   TP_FAIXA_ETARIA  0
3           TP_SEXO  0
4   TP_ESTADO_CIVIL  0
..              ... ..
71             Q021  0
72             Q022  0
73             Q023  0
74             Q024  0
75             Q025  0

[76 rows x 2 columns]

### 🗑️ Bloco 9 Remoção de Colunas

In [7]:
colunas_remover = ['CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT', 'TP_ANO_CONCLUIU']

df2020.drop(colunas_remover, axis=1, inplace=True)
df2021.drop(colunas_remover, axis=1, inplace=True)
df2022.drop(colunas_remover, axis=1, inplace=True)
df2023.drop(colunas_remover, axis=1, inplace=True)

Remove colunas desnecessárias que possuem valores diferentes entre os datasets dos anos

###  💾 Bloco 10 Concatenação e Exportação Final

In [8]:
dfArray = [df2020, df2021, df2022, df2023]
df_geral = pd.concat(dfArray, ignore_index=True)
ano = 2020
for df in dfArray:
    df.to_csv(f"../data/processed/microdados_enem_{str(ano)}/MICRODADOS_ENEM_{str(ano)}.csv", sep=";", index=False, encoding="latin1")
    ano += 1

df_geral.to_csv("../data/processed/microdados_enem_geral/MICRODADOS_ENEM_GERAL.csv", sep=";", index=False, encoding="latin1")

Etapa final do processamento:

- Concatena todos os anos em único DataFrame (df_geral)
- Salva arquivos individuais processados por ano